:root {
  --color-1: #0b3039;
  --color-2: #334a5c;
  --color-3: #6f5771;
  --color-4: #b06584;
  --color-5: linear-gradient(0deg, rgba(226, 189, 202, 1) 1%, rgba(227, 131, 159, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--color-1);
}

button {
  width: 30%;
  height: 10vh;
  margin: 1.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  font-size: 1.5rem;
  background: rgb(217, 132, 163);
  background: linear-gradient(90deg, rgba(217, 132, 163, 1) 0%, rgba(236, 79, 149, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(107, 9, 121, 1) 100%);
  color: #D0D5DD;
  opacity: 0.9;
  font-family: 'Barlow', sans-serif;
}

button:hover {
  opacity: 1;
  transition: all 0.5ms ease;
}

p {
  font-size: 1.5rem;
}

th,
td {
  text-align: center;
}

ul li {
  margin-bottom: 1rem;
}

header {
  width: 100%;
  height: 60vh;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(107, 9, 121, 1) 0%, rgba(199, 123, 157, 1) 0%, rgba(11, 48, 57, 1) 60%);
}

img {
  max-width: 100%;
  height: 100%;
}

.banner-image {
  width: 35%;
}

.banner-image img {
  src: url('assets/images/teachers.png');
}

.banner-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-content p {
  font-size: 1.5rem;
  color: #FFF;
  max-width: 100%;
  text-align: center;
}

.banner-content span {
  font-size: 1.5rem;
  letter-spacing: 8px;
  color: #EBDDD0;
  font-family: 'Barlow', sans-serif;
}

.banner-content img {
  height: 5rem;

}

.banner-content h1 {
  font-size: 4rem;
  color: #D984A3;
  text-shadow: 2px 2px 0px #644c4c;
  font-family: 'League Spartan', sans-serif;
}

.banner-content button {
  width: 30vw;

}

section {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* poderia ser margin-bottom pra cada elemento, gap dá um espaçamento entre todos
  os filhos de uma div com display flex*/
}

section p {
  max-width: 90%;
  line-height: 1.5rem;
}

section h2 {
  margin: 2rem 0;
}

.container {
  box-shadow: 8px 10px 5px #0003;
  -webkit-box-shadow: 0px 2px 15px 9px #0003;
  box-shadow: 0px 2px 15px 9px #0003;
  max-width: 50%;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: auto 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion_item {
  border-radius: 5px;
}

.accordion_item:hover {
  opacity: 0.9;
}

.accordion_header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion_header span {
  font-size: 1.2rem;
}

.accordion_content p {
  font-size: 1.1rem;
}

.accordion_content {
  margin-left: 50px;
  margin-right: 15px;
  overflow: hidden;
  height: 0;
  transition: all .5s ease;
  font-size: 14px;
}

.active {
  padding-bottom: 1px;
  color: #000;
}


/* Cabeçalho - Primeira seção */
.primeira-secao {
  background: #fff;
}

.primeira-secao span {
  color: #000;
}

/* segunda-secao */
.segunda-secao {
  background: var(--color-5);
  color: #fff;
}

.segunda-secao h2 {
  text-align: center;
  font-size: 1.9rem;
}

.segunda-secao div {
  display: flex;
}

.segunda-secao div img {
  width: 50vw;
  height: 50vh;
  margin: 1rem;
}

ul {
  list-style: "\2705";
  list-style-position: inside;
  padding: 0;
}

li {
  padding-left: 1.3em;
}


/* terceira-secao */
.terceira-secao {
  background: rgb(91, 55, 79);
  background: linear-gradient(0deg, rgba(91, 55, 79, 1) 0%, rgba(11, 48, 57, 1) 100%);
  color: #fff;
}

.terceira-secao p {
  color: #FFF;
}

.terceira-secao span {
  font-size: 1.5rem;
}

/* quinta-secao */
.quinta-secao {
  padding: 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #fff;
  color: #000;
}

.quinta-secao p {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.sexta-secao {
  background: var(--color-5);
  color: #fff;
}

.sexta-secao p {
  color: #fff;
}

.suporte {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
  height: 20vh;
  background: #e42496;
  border: 3px solid rebeccapurple;
  border-radius: 1.5rem;
}

.suporte p {
  max-width: 100%;
  padding: 1rem;
}

.setima-secao {
  background: #fff;
  text-align: center;
}

.teachers {
  width: 80%;
  border-radius: 10px;
}

.teachers .card {
  width: 100%;
  height: 425px;
  display: flex;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: var(--color-5);
}

.teachers .card-header {
  width: 32%;
}

.teachers .card-header img {
  width: 100%;
  border-radius: 10px 0 0 10px;
}

.teachers .card-body {
  width: 78%;
  color: #000;
}

.teachers .card-body p {

  max-width: 100%;
  padding: 0px 1rem;
}

.teacher {
  margin: 1rem;
  background: rgb(196, 104, 166);
  background: linear-gradient(0deg, rgba(196, 104, 166, 1) 0%, rgba(155, 69, 166, 1) 100%);
  color: #fff;
  border: 2px solid rebeccapurple;
  border-radius: 10px;
}

.oitava-secao {
  background: var(--color-5);
  color: #fff;
}

.nona-secao {
  background: #fff;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nona-secao .card {
  width: 20%;
  margin: 0.5rem;
  border-radius: 10px;
  background: var(--color-5);
}

.nona-secao .card-header,
.card-footer {
  text-align: center;
  height: 5rem;
}

.nona-secao .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.nona-secao .card-header span {
  color: #fff;
  text-shadow: 2px 1px 0px #7A7A7A;
  font-family: 'Rubik Mono One', sans-serif;
}

.nona-secao .card-body {
  height: 15rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5 rem 0;
}

.nona-secao .card-footer {
  height: 8rem;
}

.nona-secao .card button {
  width: 80%;
  font-size: 1.1rem;
}

.decima-secao {
  background: rgb(217, 128, 156);
  background: linear-gradient(90deg, rgba(217, 128, 156, 1) 0%, rgba(223, 92, 131, 1) 17%, rgba(224, 86, 127, 1) 43%, rgba(247, 68, 121, 1) 95%);
}

.decima-secao h2 {
  color: #fff;
  font-size: 2rem;
}


/* Seção de depoimentos */
.depoimentos {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--color-1);
}

.depoimentos h2 {
  color: #fff;
}

.depoimento-cards {
  max-width: 90%;
  display: flex;
  gap: 1rem;
}

.depoimento-cards .card {
  display: flex;
  width: 50%;
  height: 25vh;
  background: var(--color-5);
  border-radius: 1rem;
}

.depoimento-cards .card-header {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 1rem;
}

.depoimento-cards .card-body {
  width: 65%;
  display: flex;
  align-items: center;
}

.depoimento-cards .card-body span {
  font-style: italic;
  padding: 1rem;
}

.depoimento-cards .card-header img {
  border: 10px solid white;
  border-radius: 50%;
  height: 20vh;
  width: 10vw;
}

.depoimento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  width: 50%;
  margin: 1rem;
  padding: 0 1rem;
  background: hotpink;
}

.depoimento-texto span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.depoimento-texto {
  padding: 2rem 1rem;
}

.depoimento-texto strong {
  white-space: nowrap;
}

.depoimento-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.depoimento-imagem img {
  display: flex;
  border-radius: 50%;
  border: 10px solid white;
  max-width: 70%;
  max-height: 75%;
}

.depoimento h2 {
  color: var(--title-color);
  font-weight: 500;
  text-align: center;
  max-width: 70%;
  margin: 2rem 0;
}



/* Seção de métricas */
.metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  padding: 0 8rem;
  margin-top: 2rem;
}

.metric {
  width: 350px;
  height: 150px;
  padding: 2rem 1.5rem;
  text-align: center;
  display: flex;
  color: #FFF;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.metric:hover {
  background: rgba(255, 255, 255, 0.10);
  opacity: 5;
  transition: all 0.5s ease-in-out;
}

.metric h1 {
  color: var(--main-color);
  font-size: 3rem;
}

.metric span {
  color: var(--text-color);
  font-size: 1rem;
}

.metric .metric-title {
  font-weight: 500;
  color: #101828;
}

/* seção topics */
.topics p {
  padding: 1rem;
  color: #FFF;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}



footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--footer-color);
  padding: 6rem 1rem;
  gap: 1.5rem;
  text-align: center;
  color: #fff;
}

footer h2 {
  color: var(--title-color);
}

.footer-links {
  display: flex;
}

footer a {
  color: #d2d2e5;
  margin-right: 5px;
}

footer span {
  color: var(--text-color);
}

footer form {
  display: flex;
  justify-content: space-between;
}

footer input {
  outline: none;
  border: 1px solid #D0D5DD;
  border-radius: 0.5rem;
  padding-left: 1rem;
  width: 12rem;
  margin-right: 1rem;
}

/* Responsividade */

@media screen and (max-width: 920px) {
  .metrics {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 850px) {
  * {
    max-width: 100%;
  }

  p {
    font-size: 1rem;
  }

  button {
    width: 70vw;
    height: 8vh;
  }

  ul li {
    font-size: 1rem;
  }

  section p {
    line-height: 1.3rem;
  }

  header {
    width: 100%;
    height: 85vh;
    display: block;
    margin-top: 0;
  }

  .banner-image {
    width: 100%;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 2.5rem;
    color: #D984A3;
    text-shadow: 2px 2px 0px #644c4c;
    font-family: 'League Spartan', sans-serif;
  }

  .banner-content p {
    font-size: 1.5rem;
    color: #FFF;
    max-width: 100%;
    text-align: center;
  }

  .banner-content button {
    width: 90vw;
  }

  .plans {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .primeira-secao p {
    max-width: 80%;
    font-size: 1rem;
  }

  .segunda-secao div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .segunda-secao h2 {
    font-size: 1.4rem;
  }

  .segunda-secao div img {
    max-width: 100%;
  }

  .segunda-secao div img {
    width: 80vw;
    height: 30vh;
  }

  .segunda-secao div ul {
    margin-top: 1rem;
  }

  .terceira-secao p {
    padding: 2rem;
  }

  .quinta-secao h2 {
    text-align: center;
  }

  .metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .metric {
    align-items: center;
    justify-content: center;
  }

  .metric span {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .depoimento-cards {
    max-width: 90%;
    display: block;
  }

  .depoimento-cards .card {
    display: block;
    width: 100%;
    height: 50vh;
    background: var(--color-5);
    margin-bottom: 1rem;
  }

  .depoimento-cards .card-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
  }

  .depoimento-cards .card-body {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
  }

  .depoimento-cards .card-header img {
    width: 100%;
    height: 25vh;
    border-radius: 50%;
    border: 5px solid white;
  }

  .videos iframe {
    max-width: 90%;
    margin-bottom: 1rem;
    border: 1px solid black;
  }

  /* accordion */
  .container {
    max-width: 90%;
  }

  .depoimento-cards {
    max-width: 90%;
    display: block;
  }

  .teachers .card {
    display: block;
    width: 100%;
    height: 105vh;
    background: var(--color-5);
    margin-bottom: 1rem;
  }

  .teachers .card .card-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
  }

  .teachers .card .card-body {
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
  }

  .teachers .card .card-header img {
    width: 100%;
    height: 25vh;
    border-radius: 10px;
    border: 2px solid white;
  }

  .teacher {
    display: flex;
    flex-direction: column;
    height: 45vh;
    margin: 1rem;
    background: rgb(196, 104, 166);
    background: linear-gradient(0deg, rgba(196, 104, 166, 1) 0%, rgba(155, 69, 166, 1) 100%);
    color: #fff;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
  }

  .teachers .card-body p {
    padding: 0;
  }

  .teacher-image {
    width: 50%;
    height: 100%;
    border: 1px solid rebeccapurple;
    /* border-radius: 50%;   */
  }

  .teacher-image img {
    width: 100%;
    /* border-radius: 50%; */
  }

  .teacher-bio {
    width: 100%;
    padding-left: 2rem;
    padding-top: 1rem;
  }

  .teacher-bio h3 {
    margin: 5px;
  }

  .oitava-secao h2 {
    text-align: center;
  }

  .nona-secao .card {
    width: 80%;
    margin: 0.5rem;
    border-radius: 10px;
    background: var(--color-5);
  }

  .nona-secao h2,
  h3 {
    text-align: center;
  }

  .decima-secao h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
}