:root {
  --color-1: #0b3039;
  --color-2: #334a5c;
  --color-3: #6f5771;
  --color-4: #b06584;
  --color-5: linear-gradient(0deg, rgba(226, 189, 202, 1) 1%, rgba(227, 131, 159, 1) 100%);
  --color-6: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(107, 9, 121, 1) 0%, rgba(199, 123, 157, 1) 0%, rgba(11, 48, 57, 1) 60%)
  --color-7: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

  --azul-muito-escuro: #0b3039;
  --azul-menos-escuro: #2b4252;
  --roxo: #6f5771;
  --rosa-escuro: #b06583;
  --rosa-medio: #d58097;
  --rosa-claro: #e6b5b8;
  --branco: #fff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html {
  font-size: 95%;
}

body {
  max-width: 100%;
  height: 100vh;
  background: var(--color-1);
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  width: 30%;
  height: 10vh;
  margin: 1.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  font-size: 1.5rem;
  background: rgb(217, 132, 163);
  background: linear-gradient(90deg, rgba(217, 132, 163, 1) 0%, rgba(236, 79, 149, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(107, 9, 121, 1) 100%);
  color: #fff;
  opacity: 0.9;
  font-family: 'Barlow', sans-serif;
}

button:hover {
  opacity: 1;
  transition: all 0.5ms ease;
}

p {
  font-size: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(107, 9, 121, 1) 0%, rgba(199, 123, 157, 1) 0%, rgba(11, 48, 57, 1) 60%);
}

img {
  max-width: 100%;
}

.banner-image img {
  src: url('assets/images/teachers.png');
  height: auto;  
  margin-bottom: -4px;
}

.banner-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-content p {
  font-size: 1.8rem;
  color: #FFF;
  max-width: 100%;
  text-align: center;
  text-shadow: 2px 2px 3px #6c6c67
}

.banner-content span {
  font-size: 2rem;
  letter-spacing: 8px;
  color: #EBDDD0;
  font-family: 'Barlow', sans-serif;
}

.banner-content img {
  height: 10rem;
  margin: 1rem;
}

.banner-content h1 {
  font-size: 5rem;
  color: #D984A3;
  text-shadow: 5px 2px 0px #644c4c;
  font-family: 'League Spartan', sans-serif;
}

.banner-content button {
  width: 30vw;
}

section {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


/* accordion  */
.container {
  box-shadow: 8px 10px 5px #0003;
  -webkit-box-shadow: 0px 2px 15px 9px #0003;
  box-shadow: 0px 2px 15px 9px #0003;
  max-width: 50%;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: auto 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

.accordion_item {
  border-radius: 5px;
}

.accordion_item:hover {
  opacity: 0.9;
}

.accordion_header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion_header span {
  font-size: 1.6rem;
}

.accordion_content p {
  font-size: 1.6rem;
}

.accordion_content {
  margin-left: 50px;
  margin-right: 15px;
  overflow: hidden;
  height: 0;
  transition: all .5s ease;
  font-size: 14px;
}

.active {
  padding-bottom: 1px;
  /* color: #000; */
}
/* accordion  */

/* Primeira seção */
.primeira-secao {
  background: var(--color-5);
  color: #fff;
}

.ps-1 {
  max-width: 95%;
  display: flex;
}

.ps-1-title {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'League Spartan', sans-serif;
}

.ps-1-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.ps-1-content p {
  margin: 1rem;
}

.ps-2 {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ps-2 span {
  font-size: 2rem;
}
/* Primeira seção */

/* segunda-secao */
.segunda-secao {
  background: var(--color-1);
  color: #fff;
}

.segunda-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.ss-content {
  display: flex;
  justify-content: center;
  max-width: 95%;  
}

.ss-content-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(149deg, var(--rosa-escuro) 0%, var(--roxo) 100%);
  width: 30%;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 3px;
}

.ss-content p {
  font-size: 1rem;
}

.ss-content-square img {
  width: 30%;
  margin-bottom: 1rem;
}

.ss-content-square p {
  font-size: 1.1rem;
  padding: 0 2rem;
}

.segunda-secao button {
  margin-bottom: 0;
}
/* segunda-secao */


/* terceira-secao */
.terceira-secao {
  background: var(--color-5);
  color: #fff;
}

.terceira-secao p {
  max-width: 80%;
}

.terceira-secao span {
  font-size: 1.5rem;
}
/* terceira-secao */


/* quarta-secao */
.quarta-secao {
  margin: 0 auto;
  max-width: 90%;
  color: #fff;
}

.quarta-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.qs-content {
  display: flex; 
  margin: 1rem; 
}

.qs-content-icon {
  display: flex;
  align-items: center;
  font-size: 5rem;
  padding: 1rem;
}

.qs-content-text {
  display: flex;
  justify-content: start;
}

.quarta-secao button {
  margin-bottom: 0;
}
/* quarta-secao */


/* quinta-secao */
.quinta-secao {
  background: var(--color-5);
  color: #fff;
}

.quinta-secao-listas {
  max-width: 80%;
  display: flex;
}

.quinta-secao-listas ul {
  margin-top: 3rem;
  list-style-position: inside;
  list-style: none;
  width: 90%;
  font-size: 1.2rem;
}

.quinta-secao-listas ul li {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  margin-bottom: 5px;
}

.quinta-secao-listas ul > li > img {
  margin-left: 2px;
  width: 30px;
}

.quinta-secao-listas ul > li > span {
  padding: 0.5rem;
}

.quinta-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.quinta-secao p {
  max-width: 80%;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin: 5rem;
}

.quinta-secao button {
  margin: 0;
}
/* quinta secao */

/* sexta secao */
.sexta-secao {
  background: var(--color-1);
  color: #fff;
  gap: 5rem;
}

.sexta-secao-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
}

.sexta-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
  margin-bottom: 1rem;
}

.sexta-secao p {
  max-width: 80%;
}
/* sexta secao */


/* Seção de depoimentos */
.depoimentos {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--color-5);
  color: #fff;
}

.depoimentos button {
  margin-top: 8rem;
  margin-bottom: 0;
}

.depoimentos h2 {
  margin-bottom: 4rem;
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.depoimento-cards {
  max-width: 90%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.swiper {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background: var(--color-1);
}

#prev, #next {
  color: var(--color-4);
}

.swiper-slide .card{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide .card-header {
  margin: 0 auto;
  width: 10rem;
  height: 100%;
}

.swiper-slide .card-header img {
  border-radius: 50%;
  border: 3px solid #fff;
  height: 10rem;
}

.swiper-slide .card-body {
  padding: 0 2rem;
}

.stars {
  margin: 0.5rem;
  color: gold;
}

/* depoimentos */


/* setima-secao */
.setima-secao {
  background: var(--color-1);
  color: #fff;
  text-align: center;
}

.setima-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.teacher-portraits {
  display: flex;
  flex-direction: column;
  max-width: 85%;
}

.portrait {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}

.portrait-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.portrait-description {
  display: flex;
  flex-direction: column;  
  text-align: start;
  width: 60%;
}

.portrait-description p {
  font-size: 1.3rem;
}

.portrait-description span {
  margin: 0 5px;
  margin-top: 10px;
  font-size: 1.5rem;
  font-style: italic;
}

.setima-secao button {
  margin-top: 2rem;
  margin-bottom: 0;
}
/* setima-secao */

/* oitava secao  */
.oitava-secao {
  background: var(--color-5);
  color: #fff;
}

.oitava-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.modalidades {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.modalidade {
  display: flex;
  width: 450px;
  flex-direction: column;
  border-radius: 30px;
  margin: 1rem 1rem;
  -webkit-box-shadow: 0px 2px 8px 2px #fff; 
  box-shadow: 0px 2px 8px 2px #fff;
}

.modalidade span {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.modalidade p {
  margin: 1rem;
  font-size: 1.3rem;
}

.oitava-secao button {
  margin-bottom: 0;
}
/* oitava secao  */

/* nona secao  */
.nona-secao {
  background: var(--color-1);
  color: #fff;
}

.nona-secao h2 {
  font-size: 2.5rem;  
  text-align: center;
  font-family: 'League Spartan', sans-serif;
}

.plans {
  margin-top: 3rem;
  max-width: 90%;
  display: flex;  
  justify-content: center;
}

.plan {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;  
  background: var(--color-5);
  margin: 0 1rem;
  -webkit-box-shadow: 0px 2px 8px 2px #fff; 
  box-shadow: 0px 1px 3px 1px var(--rosa-medio);
  width: 25%;
}

.plan h3 {  
  margin: 1rem;
  font-family: 'Rubik Mono One', sans-serif;
  text-shadow: 2px 1px 0px #7A7A7A;
  text-transform: uppercase;
}

.plan-content {  
  display: flex;
  flex-direction: column;
}

.plan-content ul {
  list-style: none;  
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}

.plan-content ul > li {  
  text-align: start;
  font-family: 'Rubik Mono One', sans-serif;
}

.plan-content span {
  padding: 0 1rem;
  font-family: 'Rubik Mono One', sans-serif;
}

.plan button {  
  font-size: 1rem;
  width: 90%;
}
/* nona secao  */


.decima-secao {
  background: rgb(217, 128, 156);
  background: linear-gradient(90deg, rgba(217, 128, 156, 1) 0%, rgba(223, 92, 131, 1) 17%, rgba(224, 86, 127, 1) 43%, rgba(247, 68, 121, 1) 95%);
}

.decima-secao h2 {
  color: #fff;
  font-size: 2rem;
}


/* Seção de métricas */
.metrics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  padding: 0 8rem;
  margin-top: 2rem;
}

.metric {
  height: 150px;
  padding: 2rem 1.5rem;
  text-align: center;
  display: flex;
  color: #FFF;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.metric:hover {
  background: rgba(255, 255, 255, 0.10);
  opacity: 5;
  transition: all 0.5s ease-in-out;
}

.metric h1 {
  color: var(--main-color);
  font-size: 3rem;
}

.metric span {
  color: var(--text-color);
  font-size: 1rem;
}

.metric .metric-title {
  font-weight: 500;
  color: #101828;
}

/* seção topics */
.topics p {
  padding: 1rem;
  color: #FFF;
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--footer-color);
  padding: 6rem 1rem;
  gap: 1.5rem;
  text-align: center;
  color: #fff;
}

footer h2 {
  color: var(--title-color);
}

.footer-links {
  display: flex;
}

footer a {
  color: #d2d2e5;
  margin-right: 5px;
}

/* Responsividade */
/* #############################################################################################################################################################################################################################################################################################################################*/
@media screen and (max-width: 920px) {
  .metrics {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {

/* primeira seção */
  header {
    display: block;
  }

  .swiper {
    height: 350px;
    width: 80%;
  }

  .banner-image {
    width: 100%;
    margin-bottom: -5px;
  }

  .banner-content {
    width: 100%;
    background: var(--color-1);
  }

  .banner-content h1 {
    font-size: 2.5rem;
    color: #D984A3;
    text-shadow: 2px 2px 0px #644c4c;
    font-family: 'League Spartan', sans-serif;
  }

  .banner-content p {
    font-size: 1.4rem;
    color: #FFF;
    max-width: 100%;
    text-align: center;
  }

  .banner-content span {
    font-size: 1rem;
  }

  button {
    width: 90%;
    height: 8vh;
  }

  .banner-content button {
    width: 90%;
    height: 8vh;
  }

  .ps-1 {
    max-width: 100%;
    flex-direction: column;
  }

  .ps-1-title {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .ps-1-content {
    width: 100%;
  }

  .ps-1-content p {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .ps-2 span {
    font-size: 1.5rem;
  }
/* primeira seção */

/* segunda secao */
  .segunda-secao h2 {
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 2rem;
  }

  .segunda-secao {
    gap: 0;
  }
  .ss-content {
    margin: 0;
    display: block;
    text-align: center;
    max-width: 90%;
  }

  .ss-content-square {
    width: 80%;
    margin: 1rem auto;
    text-align: start;
  }

  .ss-content-square img {
    width: 30%;
    margin-bottom: 1rem;
  }

  .ss-content-square p {
    font-size: 1.1rem;
    padding: 0 2rem;
  }



/* segunda-secao */

/* terceira-secao */
  .terceira-secao p {
    max-width: 85%;
  }

  .metrics {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .metric {
    align-items: center;
    justify-content: center;
  }

  .metric img {
    max-width: 100%;
    height: 100px;
  }

  .metric span {
    font-size: 1rem;
    padding: 0.5rem;
  }
/* terceira-secao */


/* quarta-secao */
  .quarta-secao h2 {
    margin-bottom: 2rem;
  }

  .qs-content {  
    flex-direction: column;     
  }

  .qs-content-icon {        
    justify-content: center;
    font-size: 5rem;
    padding: 1rem;
  }

  .qs-content-text {
    display: flex;
    text-align: justify;
  }
/* quarta-secao */


/* quinta-secao */
  .quinta-secao h2 {
    text-align: center;
  }

  .quinta-secao-listas {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .quinta-secao-listas ul {
    margin: 0;
    list-style-position: inside;
    list-style: none;
    width: 100%;
    font-size: 1.2rem;
  }

  .quinta-secao p {
    max-width: 80%;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin: 1rem;
  }
/* quinta-secao */

/* sexta-secao */
  .sexta-secao h2 {
    margin-bottom: 0;
  }

  .sexta-secao p {
    margin: 2rem;
    max-width: 95%;
  }
/* sexta-secao */


/* secao-depoimentos */
  .depoimento-cards {
    max-width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .swiper-slide .card-header {
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
  }

  .swiper-slide .card-header img {   
    height: 100%;
  }

  .swiper-slide .card-body {
    padding: 1rem;
  }

/* secao-depoimentos */

/* accordion */
  .container {
    max-width: 90%;
  }
/* accordion */


/* setima-secao */
  .setima-secao h2 {
    max-width: 95%;
    margin-bottom: 3rem;
  }

  .teacher-portraits {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    gap: 1rem;
  }

  .portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .portrait-image {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
  }

  .portrait-image img {
    height: 100%;

    border-radius: 50%;
  }

  .portrait-description {
    display: flex;
    flex-direction: column;  
    text-align: start;
    width: 100%;
  }

  .portrait-description p {
    font-size: 1.3rem;
  }

  .portrait-description span {
    margin: 0 5px;
    margin-top: 10px;
    font-size: 1.5rem;
    font-style: italic;
  }
/* setima-secao */


/* oitava-secao */
  .modalidades {
    width: 90%;
    flex-direction: column;
  }

  .modalidade {
    display: flex;
    width: 90%;
    flex-direction: column;
  }

  .modalidade p {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .oitava-secao h2 {
    text-align: center;
  }
/* oitava-secao */

/* nona-secao */
  .nona-secao {
    background: var(--color-1);
    color: #fff;
  }

  .nona-secao h2 {
    font-size: 2.5rem;  
    margin-bottom: 1rem;
    font-family: 'League Spartan', sans-serif;
  }

  .nona-secao h3 {
    max-width: 90%;
    text-align: center;
  }

  .plans {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;     
    width: 100%;
    margin: 0;    
    width: 70%;
  }

  .plan button {  
    font-size: 1rem;
    width: 90%;
    height: 8vh;
  }

  .nona-secao .card {
    width: 80%;
  }
/* nona-secao */
  

}